/* Overall container */
.theatre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* Screen section */
.screen {
  width: 80%;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

/* Theatre layout */
.theatre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 40px repeat(30, 1fr); /* First column for row labels */
  gap: 5px;
  align-items: center;
}

.row-label {
  text-align: center;
  font-weight: bold;
  color: #555;
  background-color: #f7f7f7;
  line-height: 30px;
  width: 40px;
  height: 30px;
}


.seat {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 9px;
  line-height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.gap {
   /* Space for the walking gap */
  height: 30px;
  background: transparent;
}
.available {
  background-color: #e0ffe0;
}

.selected {
  background-color:green ;
}
.booked {
  background-color:lightgray;
  color: white;
  cursor: not-allowed;
  border: 1px solid lightgray;
}
.total-price {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Legend */
.legend {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-item .seat {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.legend-item .seat.available {
  background-color: #fff;
}

.legend-item .seat.selected {
  background-color: #4caf50;
}

.legend-item .seat.booked {
  background-color: lightgray;
}

.legend-item span {
  font-size: 14px;
  color: lightgrey;
  font-weight: bold;
}
